.git
.env
.env.*
output
node_modules
**/node_modules
.svelte-kit
**/.svelte-kit
build
**/build
coverage
**/coverage
playwright-report
**/playwright-report
test-results
**/test-results
.venv
**/.venv
__pycache__
**/__pycache__
.pytest_cache
**/.pytest_cache
*.pyc
*.log
